@import url("https://fonts.googleapis.com/css?family=Questrial");
@import url("https://fonts.googleapis.com/css?family=Forum");


/* Text */
strong, b {
  font-weight: 500; }

em {
  font-style: italic; }

a:visited, #resume {
  color: red; }

a:hover, #resume:hover {
  color: gray; }

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  position: absolute;
  height: 100%;
  margin: 0;
  /*overflow-x: hidden;*/
  color: #000; }

#back {
  padding-top: 75vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

#main-text {
  font: 1rem "Forum", serif;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#resume {
  color: red;
}

h1 {
  color: red;
  font-size: 3em;
  line-height: 1em;
  -webkit-transform: scale(1.2, 1);
  -moz-transform: scale(1.2, 1);
  transform: scale(1.2, 1);
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(1.6, 1);
    -moz-transform: scale(1.6, 1);
    transform: scale(1.6, 1);
  }
  to {
    -webkit-transform: scale(1.4, 1);
    -moz-transform: scale(1.4, 1);
    transform: scale(1.4, 1);
  }
}