@import url("https://use.typekit.net/hoh8naq.css");

/* General */

strong {
  font-weight: 600; }

b {
  background-color: #ffe45f; }

em {
  font-style: italic; }

a,
a:visited {
  color: #000; }

a:hover {
  color: #E2724B; }

#dropdown-bar ul {
  list-style: none; }

img {
  background-color: #d6d6d6; }

.fade {
  -webkit-animation: fadein .6s ease-out;
  animation: fadein .6s ease-out; 
}

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } 
}

body {
  background-color: #e8e6e6;
  /*opacity: .9;*/
}

/* Text */

h1, h3, h4, h5 {
  font: 300 2.6rem pragmatica-extended, sans-serif;
  transform-origin: left;
}

p, ol, #guts ul {
  font: 400 2rem pragmatica, sans-serif;
  line-height: 2.8rem;
}

/* ================================================================================ */

/* Front page */

#front-page {
  padding: 85px 8vw 85px calc(8vw + 23px);
  overflow-x: hidden;
}

#front-page h3 {
  font-size: 4.2rem;
  line-height: 5.2rem;
  height: auto;
  max-width: 1200px;
  min-width: 700px;
  width: 60vw;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

#front-page h4 {
  width: 30vw;
  transform-origin: center;
}

.right-column a, .left-column a {
  text-decoration: none;
}

.right-column a:hover, .left-column a:hover {
  text-decoration: none;
  color: black;
}

#front-body {
  display: flex;
  padding: 30px 0;
}

.right-column {
  position: absolute;
  margin-top: 20vh;
  margin-left: 44vw;
}

.front h1 {
  margin: 50px 0 30px 0;
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 400;
}

.front h5 {
  margin-bottom: 30px;
}

.front {
  width: 38vw;
  max-width: 700px;
  min-width: 400px;
  padding: 30px;
  margin: 50px 0;
  transition: background-color .2s ease;
}

.front:hover {
  outline: 1px solid black;
  /*background-color: rgba(217, 222, 218, 0.6);*/
  /*background-color: rgba(188, 204, 204, 0.1);*/
  background-color: #bfb7b4;
}

.front .image-frame {
  position: relative;
  overflow: hidden;
  height: 40vh;
  /*min-width: 200px; */
  transition: outline 0s ease;
}

.front .image-frame img {
  position: absolute;
  object-fit: cover;
  opacity: .8;
  width: 100%;
  height: 100%;
  min-height: 300px;
  transform: scale(1);
  transition: transform .4s ease, opacity .6s ease;
}

.front:hover .image-frame {
  outline: 1px solid black;
}

.front:hover .image-frame img {
  opacity: .95;
  transform: scale(1.03);
}

#pix {
  top: 0;
  z-index: 2;
  position: fixed;
  pointer-events: none;
  transition: top 2.2s ease;
  opacity: 0.8;
}


/* Dropdown */

#dropdown-bar, #button-down {
  font: 300 1.6rem pragmatica-extended, "Plex";
  line-height: 1.8rem;
  -webkit-transform: scale(1.2, 1);
  -moz-transform: scale(1.2, 1);
  transform: scale(1.2, 1);
  transform-origin: left;
}

#back-button {
  white-space: nowrap; 
}

#back-button a {
  text-decoration: none;
}

#dropdown-bar, #button-down {
  z-index: 1;
}

#dropdown-bar {
  z-index: 2;
  position: fixed;
  top: 70px;
  margin-left: 8vw;
  width: 180px;
  padding: 20px;
}

#footer h1 {
  font-size: 1.6rem;
  margin: 60px 0 70px 0;
  width: 600px;
  -webkit-transform: scale(1.2, 1);
  -moz-transform: scale(1.2, 1);
  transform: scale(1.2, 1);
}

#dropdown-bar:hover {
  outline: 1px solid;
  background-color: #cec8c6;
}

#dropdown-bar:hover > #back-button a {
  text-decoration: underline;
}

#dropdown-bar:hover .header-list-hidden {
  display: block;
}

.header-list-hidden {
  width: 100%;
}

.header-list-hidden li {
  margin: 0 0 2px 0;
}

.header-list-hidden a {
  margin: 0 0 0 6px;
}

#dropdown-bar .header-list-hidden {
  display: none; 
}


/* About page */

#about-page h3 {
  font-size: 4.2rem;
  line-height: 5.2rem;
  height: auto;
  max-width: 1200px;
  min-width: 700px;
  width: 60vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

#about-me {
  padding: 20vh 0 85px calc(10vw + 21px);
}

.background-pic {
  height: 110%; 
  position: absolute; 
  z-index: -2;
}

#about-me-pic {
  position: sticky;
  top: 20px;
  margin: 4% 0 0 52vw;
  width: 36vw;
  min-width: 280px; 
  max-width: 600px; 
}


/* Projects page */

#guts {
  padding: 85px 8vw 85px calc(8vw + 23px);
  width: 68vw;
  margin: 0 auto;
  margin-bottom: 60px;
}

#info h5 {
  font-size: 3.6rem;
  font-weight: 400;
}

#info h5 em {
  font-size: 2.8rem;
  /*font-weight: 300;*/
  font-style: normal;
}

#info {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 2px solid black;
}


#guts h3 {
  /*font-size: 2.4rem;*/
  font-weight: 400;
  margin: 64px 0 22px 0;
}

#main-content .caption {
  font-size: 1.4rem;
  line-height: 1.8rem;
  width: 100%;
  text-align: center;
  margin: -12px 0 48px 0;
  padding: 0 48px;
}

#guts img {
  margin: 52px 0 32px 0;
  width: 100%;
}

.mult-img {
  display: flex;
  width: 100%;
}

ol, #guts ul {
  margin: 32px 0;
}

.end-div {
  border-bottom: 1px solid black;  
  padding-bottom: 56px
}

#two-gif {
  height: 60vh;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px 0 40px 0;
}

#two-gif img {
  /*margin: 0;*/
  width: initial;
  box-shadow: 2px 6px 12px #888888;
  height: 100%;
  margin: 0 30px;
}
