@import url("https://fonts.googleapis.com/css?family=Questrial");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500,700");


/* Text */
strong, b {
  font-weight: 500; }

em {
  font-style: italic; }

a,
a:visited {
  color: #000; }

a:hover {
  color: LightSalmon; }

#dropdown-bar ul {
  list-style: none;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  position: absolute;
  background-color: #ffe8e0;
  height: 100%;
  color: #000;
  opacity: .9;
  width: 90%;
}

h1, h3, h4, h5 {
  font: 300 2.6rem "Questrial", "Plex";
  line-height: 3.2rem;
  -webkit-transform: scale(1.2, 1);
  -moz-transform: scale(1.2, 1);
  transform: scale(1.2, 1);
  transform-origin: left;
}

p, ol, #guts ul {
  font: 300 1.6rem "Rubik", "Questrial", "Plex";
  line-height: 2.4rem;
  /*letter-spacing: .1px;*/
}

.fade {
  -webkit-animation: fadein .6s ease-out;
  animation: fadein .6s ease-out; 
}

.title {
  font-family: serif;
  font-size: 1.88rem;
  margin-bottom: 10px;
}

#front-page {
  flex: 30%;
  padding: 20vh 0 6vh calc(10vw + 23px);
  overflow-x: hidden;
}

#front-page h1 {
  margin: 30px 0;
}

#front-page h3 {
  font-size: 4.2rem;
  line-height: 4.8rem;
  height: auto;
  max-width: 640px;
  min-width: 300px;
  width: 60vw;
}

.front h3 {
  margin-bottom: 30px;
}

.front h1 {
  font-weight: 600;
}

#front-page h4 {
  width: 30vw;
  transform-origin: center;
}

#front-page h5 {
  transform-origin: center;
}

#front-page img {
  width: 74vw;
  max-width: 800px;
  height: 50vh;
  object-fit: cover;
  border: 1px solid black;
}

#front-page button {
  font-size: 1.8rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px black solid;
  height: 50px;
  width: 20vw;
  min-width: 400px;
  box-shadow: 0;
  padding: 10px 20px;
  transition: background-color .2s ease, box-shadow .2s ease;
}

#front-page button:hover {
  box-shadow: 2px 2px 2px blue;
}

.front {
  width: 74vw;
  max-width: 800px;
  padding-bottom: 100px;
  border-bottom: 1px solid black;  
}

.front:not(:last-child) {
  margin-bottom: 60px;
}

.project {
  border-bottom: 1px black solid;
  -webkit-transform: scale(1.24, 1);
  -moz-transform: scale(1.24, 1);
  transform: scale(1.24, 1); 
  padding-bottom: 40px;
}

#pix {
  /*min-height: 1000px;*/
  top: 0;
  z-index: 2;
  position: fixed;
  pointer-events: none;
  transition: top 2.2s ease;
  opacity: 0.8;
}

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } 
}

img {
  background-color: #d6d6d6; 
}

/* Nav */

#dropdown-bar, #button-down {
  font: 300 1.6rem "Questrial", "Plex";
  line-height: 1.8rem;
  -webkit-transform: scale(1.2, 1);
  -moz-transform: scale(1.2, 1);
  transform: scale(1.2, 1);
  transform-origin: left;
}

#back-button {
  white-space: nowrap; 
}

#back-button a {
  text-decoration: none;
}

#dropdown-bar, #button-down {
  z-index: 1;
}

#dropdown-bar {
  z-index: 4;
  position: fixed;
  top: 40px;
  margin-left: 10vw;
  width: 160px;
  padding: 20px;
}

#footer h1 {
  margin-top: 16px;
  font-size: 1.6rem;
  width: 400px;
}

#dropdown-bar:hover {
  outline: 1px solid;
  background-color: white;
}

#dropdown-bar:hover > #back-button a {
  text-decoration: underline;
}

#dropdown-bar:hover .header-list-hidden {
  display: block;
}

.header-list-hidden {
  width: 100%;
}

.header-list-hidden li {
  margin: 0 0 2px 0;
}

.header-list-hidden a {
  margin: 0 0 0 6px;
}

#dropdown-bar .header-list-hidden {
  display: none; 
}

/* About Page */

#about-me {
  width: 68vw;
  max-width: 800px;
  padding: 20vh 0 6vh calc(10vw + 21px);
}

#about-me h3 {
  font-size: 4.2rem;
  line-height: 4.8rem;
}

.background-pic {
  height: 110%; 
  position: absolute; 
  z-index: -2;
}

#about-me-pic {
  position: sticky;
  top: 20px;
  margin: 4% 0 0 52vw;
  width: 36vw;
  min-width: 280px; 
  max-width: 600px; 
}

/* Projects Page */

#guts {
  padding: 16vh 4vw 6vh calc(10vw + 23px);
  width: 82%;
  max-width: 1000px;
  margin-bottom: 60px;
}

#info {
  margin: 50px 0 70px 0;
}

#info h5 {
  font-size: 3.2rem;
}

#guts h3 {
  font-size: 2.4rem;
  margin: 64px 0 22px 0;
}

#main-content .caption {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}

#guts img {
  margin: 52px 0 16px 0;
  width: 100%;
}

.mult-img {
  display: flex;
  width: 100%;
}

ol, #guts ul {
  margin: 32px 0;
}

.end-div {
  border-bottom: 1px solid black;  
  padding-bottom: 56px
}

#two-gif {
  height: 60vh;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px 0 40px 0;
}

#two-gif img {
  /*margin: 0;*/
  width: initial;
  box-shadow: 2px 6px 12px #888888;
  height: 100%;
  margin: 0 30px;
}
