/* General */

strong {
  font-weight: 400; }

b {
  background-color: #ffe45f; }

em {
  font-style: italic; }

a,
a:visited {
  color: #000; }

a:hover {
  color: #E2724B; }

#dropdown-bar ul {
  list-style: none; }

img {
  background-color: #d6d6d6; }

.fade {
  -webkit-animation: fadein .6s ease-out;
  animation: fadein .6s ease-out; 
}

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } 
}

body {
  background-color: #f7f7f7;
  /*opacity: .9;*/
}

/* Text */

h1, h3, h4, h5 {
  font: 300 2.4rem acumin-pro-wide, sans-serif;
}

p, ol, #guts ul {
  font: 300 2rem pragmatica, sans-serif;
  line-height: 2.8rem;
  -webkit-transform: scale(1.05, 1);
  -moz-transform: scale(1.05, 1);
  transform: scale(1.05, 1);
  transform-origin: left;
}

/* ================================================================================ */

/* Front page */

#front-page {
  padding: 85px 3vw 65px 3vw;
  overflow-x: hidden;
  /*border-top: 2px solid black;*/
}

#front-page h3 {
  font-size: 3rem;
  line-height: 3.4rem;
  height: auto;
  /*font-weight: 300;*/
  max-width: 780px;
  min-width: 200px;
  width: 60vw;
  margin: 0 auto;
  padding-left: 3vw;
  /*display: flex;*/
/*  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;*/
  -webkit-transform: scale(1.1, 1);
  -moz-transform: scale(1.1, 1);
  transform: scale(1.1, 1);
}

#front-page h4 {
  width: 30vw;
  transform-origin: center;
}

.right-column a, .left-column a {
  text-decoration: none;
}

.right-column a:hover, .left-column a:hover {
  text-decoration: none;
  color: black;
}

#front-body {
  display: flex;
  margin: 100px 0 60px 0;
  padding-bottom: 60px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.right-column {
  position: absolute;
  /*margin-top: 10v*/
  margin-left: 47vw;
}

.front h1 {
  margin: 50px 0 15px 0;
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 300;
  padding: 0 4px 0 4px;
  text-decoration: underline;
}

.front h5 {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 20px;
  font-weight: 200;
  padding: 0 4px 0 4px;
}

.front {
  width: 47vw;
  max-width: 700px;
  min-width: 300px;
  padding: 20px;
  margin: 60px 0 20px 0;
  transition: background-color .2s ease;
}

.front:hover {
  outline: 1px solid black;
  /*background-color: rgba(217, 222, 218, 0.6);*/
  /*background-color: rgba(188, 204, 204, 0.1);*/
  background-color: #bfb7b4;
}

.front .image-frame {
  position: relative;
  overflow: hidden;
  /*height: 35vh;*/
  height: 340px;
  /*min-width: 200px; */
  transition: outline 0s ease;
}

.front .image-frame img {
  position: absolute;
  object-fit: cover;
  opacity: .83;
  width: 100%;
  height: 100%;
  min-height: 200px;
  transform: scale(1);
  transition: transform .4s ease, opacity .6s ease;
}

.front:hover .image-frame {
  outline: 1px solid black;
}

.front:hover .image-frame img {
  opacity: .98;
  transform: scale(1.08);
}

#pix {
  top: 0;
  z-index: -1;
  position: fixed;
  pointer-events: none;
  transition: top 2.2s ease;
  opacity: .8;
  background-image: url("img/g1.gif");
  background-size: cover;
  /*background-repeat: no-repeat;*/
  height: 100vh;
  width: 100vw;
}

#ibm-mobile {
    display: none;
}

#ibm-desktop {
    display: block;
}

#resume-line {
  display: none;
}

@media only screen and (max-width: 900px) {

  #front-body{
    display: inline;
  }

  #front-page h3 {
    width: 70vw;
  }

  #front-page #b-h3 {
    display: block;
    border-bottom: 1px solid black;
    padding-bottom: 80px;
    margin-bottom: 60px;
  }

  #resume-line {
    display: inline;
  }

  .front {
    margin: 40px auto;
    width: 80vw;
    max-width: 750px;
  }

  #front-first {
    margin-top: 40px; 
  }

  .right-column {
    margin: 0 auto;
    padding-bottom: 80px;
    width: 94%;
  }

  #ibm-mobile {
    display: block;
  }

  #ibm-desktop {
    display: none;
  }

  #footer, #dropdown-bar {
    display: none;
  }
} 

@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {

  h1, h3, h4, h5 {
    font: 300 5.2rem acumin-pro-wide, sans-serif;
  }

  .front h1, .front h5 {
    font-size: 5.2rem;
    line-height: 5.8rem;
  }

  #front-page {
    padding: 130px 3vw 65px 3vw;
  }

  #front-page h3 {
    font-size: 6rem;
    line-height: 6.8rem;
  }

  #front-body{
    display: inline;
  }

  #front-page h3 {
    width: 74vw;
  }

  #front-page #b-h3 {
    display: block;
    border-bottom: 2px solid black;
    padding-bottom: 120px;
    margin-bottom: 100px;
  }

  .front .image-frame {
    height: 450px;
    padding-bottom: 30px;
  }

  #resume-line {
    display: inline;
  }

  .front {
    margin: 120px auto;
    width: 100vw;
    max-width: 750px;
    padding: 0;
  }

  #front-first {
    margin-top: 40px; 
  }

  .right-column {
    margin: 0 auto;
    padding-bottom: 80px;
    width: 94%;
  }

  #ibm-mobile {
    display: block;
  }

  #ibm-desktop {
    display: none;
  }

  #footer, #dropdown-bar {
    display: none;
  }
}

/* Dropdown */

#dropdown-bar, #button-down {
  font: 300 1.6rem pragmatica-extended;
  line-height: 1.8rem;
  -webkit-transform: scale(1.2, 1);
  -moz-transform: scale(1.2, 1);
  transform: scale(1.2, 1);
  transform-origin: left;
}

#back-button {
  white-space: nowrap; 
}

#back-button a {
  text-decoration: none;
}

#dropdown-bar, #button-down {
  z-index: 1;
}

#dropdown-bar {
  z-index: 2;
  position: fixed;
  top: 68px;
  margin-left: 3vw;
  width: 180px;
  padding: 20px;
} 

#footer h2 {
  font: 300 1.2rem pragmatica-extended;
  -webkit-transform: scale(1.2, 1);
  -moz-transform: scale(1.2, 1);
  transform: scale(1.2, 1);
  text-align: center;
}

#dropdown-bar:hover {
  border: 1px solid;
  width: 190px;
  background-color: #dedede;
}

#dropdown-bar:hover > #back-button a {
  text-decoration: underline;
}

#dropdown-bar:hover .header-list-hidden {
  display: block;
}

.header-list-hidden {
  width: 100%;
}

.header-list-hidden li {
  margin: 0 0 2px 0;
}

.header-list-hidden a {
  margin: 0 0 0 6px;
}

#dropdown-bar .header-list-hidden {
  display: none; 
}


/* About page */

#about-page h3 {
  font-size: 3.6rem;
  line-height: 4.2rem;
  height: auto;
/*  max-width: 1200px;
  min-width: 700px;*/
  /*width: 60vw;*/
}

#about-me {
  padding: 85px 10vw 85px calc(16vw + 21px);
}

.background-pic {
  height: 110%; 
  position: absolute; 
  z-index: -2;
}

#about-me-pic {
  position: sticky;
  top: -60px;
  margin: 8vh 0 0 57vw;
  width: 34vw;
  opacity: .9;
  min-width: 280px; 
  max-width: 500px; 
}


/* Projects page */

#guts {
  padding: 80px 8vw 85px calc(8vw + 23px);
  width: 74vw;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 60px;
}

#info h5 {
  width: 100%;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.6rem;
  -webkit-transform: scale(1.1, 1);
  -moz-transform: scale(1.1, 1);
  transform: scale(1.1, 1);
  transform-origin: left;
}

#info h5 em {
  font-weight: 300;
  font-style: normal;
}

#info {
  margin-bottom: 80px;
  padding-bottom: 40px;
  border-bottom: 2px solid black;
}

.dropbox-text {
  line-height: 3rem
}

#guts h3 {
  /*font-size: 2.4rem;*/
  width: 90%;
  font-weight: 400;
  margin: 80px 0 22px 0;
  -webkit-transform: scale(1.1, 1);
  -moz-transform: scale(1.1, 1);
  transform: scale(1.1, 1);
  transform-origin: left;
}

#guts h3:not(:first-child) {
  border-top: 1px solid black;
  padding-top: 70px;
  /*outline-offset: 15px;*/
}

#guts p {
  width: 96%;
}

#main-content .caption {
  font-size: 1.4rem;
  line-height: 1.8rem;
  width: 100%;
  text-align: center;
  margin: -12px 0 48px 0;
  padding: 0 48px;
}

#guts img {
  margin: 52px 0 32px 0;
  width: 100%;
}

.mult-img {
  display: flex;
  width: 100%;
}

ol, #guts ul {
  margin: 32px 0;
}

.end-div {
  border-bottom: 1px solid black;  
  padding-bottom: 56px
}

#two-gif {
  height: 60vh;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px 0 40px 0;
}

#two-gif img {
  /*margin: 0;*/
  width: initial;
  box-shadow: 2px 6px 12px #888888;
  height: 100%;
  margin: 0 30px;
}

@media only screen and (max-width: 800px) {
  #guts{
      padding: 80px 0 100px 0
  }

  #two-gif {
    height: auto;
    flex-wrap: wrap;
  }

  #two-gif img {
    width: 80%;
    box-shadow: 2px 2px 24px #c9c9c9;
    height: 100%;
    margin: 10px 0;
  }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 850px) {

  h1, h3, h4, h5 {
    font: 300 5.2rem acumin-pro-wide, sans-serif;
  }

  p, ol, #guts ul {
    font: 300 3.6rem pragmatica, sans-serif;
    line-height: 4.3rem;
  }

  #main-content .caption {
    font-size: 2.6rem;
    line-height: 3.2rem;
    margin: -12px 0 64px 0;
  }

  #guts h3 {
    margin-bottom: 50px;
  }

  #info h5 {
    font-size: 3.4rem;
    line-height: 4rem;
  }

  #info {
    padding-bottom: 60px;
    margin-bottom: 120px;
  }

  #guts{
      padding: 80px 0 100px 0
  }

  .dropbox-text {
    line-height: 5.8rem
  }

  #two-gif {
    height: auto;
    flex-wrap: wrap;
  }

  #two-gif img {
    width: 80vw;
    box-shadow: 2px 2px 24px #c9c9c9;
    height: auto;
    margin: 10px 0;
  }
}