/* General */

strong {
  font-weight: 400; }

b {
  background-color: #ffe45f; }

em {
  font-style: italic; }

a,
a:visited {
  color: #000; }

a:hover {
  color: #E2724B; }

#dropdown-bar ul {
  list-style: none; }

img {
  background-color: #d6d6d6; }

.fade {
  -webkit-animation: fadein .6s ease-out;
  animation: fadein .6s ease-out; 
}

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } 
}

#pix {
  background-image: url("img/bg2.png");
  background-size: cover;
  background-position: center center;
  top: 0;
  z-index: -1;
  position: fixed;
  pointer-events: none;
  opacity: .9;
  height: 100vh;
  width: 100vw;
}

/* Text */

body {
  background-color: AliceBlue;
  display: flex;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font: 300 9rem serif;
  letter-spacing: -4px;
  word-spacing: -4px;
}

h1 {
  font-weight: 600;
  font-style: italic;
}

.center {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
}

#main-text {
  margin: 60vh 25vw 20vh 0;
  max-width: 600px;
}
