@import url('https://fonts.googleapis.com/css?family=Varela+Round');

@font-face{ 
  font-family: 'Apercu';
  src: url('apercu/apercu-mono-webfont.eot');
  src: url('apercu/apercu-mono-webfont.eot?#iefix') format('embedded-opentype'),
       url('apercu/apercu-mono-webfont.woff') format('woff'),
       url('apercu/apercu-mono-webfont.ttf') format('truetype'),
       url('apercu/apercu-mono-webfont.svg#webfont') format('svg');
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer {
  position: absolute;
  bottom: 10%;
  right: 10%;
  opacity: .3;
}

footer h1 {
  font: 300 1.4rem "Apercu", "Karla", sans-serif;
}

/*
  ========================================
  Custom styles
  ========================================
*/

/* Text */

body {
  font: 300 16px "Apercu", "Karla", sans-serif;
  overflow-y: scroll;
}

p, li {
  font: 300 1.6rem "Varela Round", sans-serif;
  line-height: 130%;
}

h1, h2, h3, h4, h5, h6, #about-pic-box p {
  font: 300 1.6rem "Apercu", "Karla", sans-serif;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
}

/* Sidebar */

#contact {
  padding-top: 80px;
}

/* Typography */

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

h1 {
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

h4 {
  font-weight: 300;
  margin: -16px 0 40px 0;
}

#lian-home-button,
#lian-home-button:visited,
#about-lian-back { 
  text-decoration: none; 
  color: red; 
}

a,
a:visited {
  color: #000;
}

.nav a {
  text-decoration: none;
}

#email {
  text-decoration: underline;
}


.hvr-backward,
#arrow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-backward:hover,
#about-button:hover ~ #arrow {
  -webkit-transform: translateX(6px);
  transform: translateX(6px);
}



/* Grid */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  padding-top: 6%;
  width: 100%%; 
}

.grid,
.col-1-5,
.col-4-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.col-1-5,
.col-4-5  {
  display: inline-block;
  vertical-align: top;
}

.col-1-5 {
  width: 18%;
  min-width: 140px;
  height: 100%;
  text-align: right;
  position: fixed;
}

.col-1-5 ul {
  padding-bottom: 20px;
}

.col-4-5 {
  padding-left: 20%;
  width: 100%;
  text-align: left;
}

.col-1-2 {
  display: inline-block;
  vertical-align: top;
  width: 42%;
  padding: 0 4px 60px 0;
}

.col-1-2 img {
  width: 100%;
}

/* Content */

.intro {
  max-width: 60%;
}

.intro-about, 
#about-pic-box {
  display: inline-block;
  vertical-align: top;
}

#about-pic-box {
  width: 40%;
  margin-bottom: 60px;
}

.intro-about {
  width: 46%;
  margin: 0 0 60px 2%;
}

#about-pic {
  width: 100%;
  min-width: 300px;
}

#about-pic-box p {
  text-align: right;
  margin: 6px 6px 0 0;
}

.credit {
  text-align: right;
}


h2 {
  font-size: 26px;
  padding-bottom: 30px;
  font-style: italic;
  max-width: 70%;
}

h2:after {
  content: '';
  display: block;
  background: black;
  height: 2px;
  max-width: 14%;
  width: 100%;
  margin: 16px auto auto 0;
}

#main-content .dropquote {
  vertical-align: top;
  padding-left: none;
  display: inline-block;
  font-style:;
  width: 30%;
}

#main-content ol {
  padding-left: 60px;
  max-width: 70%;
}

#main-content img {
  margin-right: -6px
}

.content {
  padding-bottom: 30px;
  max-width: 70%;
}

.t {
  padding-top: 30px;
}

.aop {
  padding-bottom: 10px;
}

img {
  object-fit: contain;
  display: inline-block;
}

/* Flashy shit */

#guts, 
#guts-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#guts-about img {
  width: 60%;
  margin: 0 0 10px -4px;
}

#about-pic-box img {
  width: 100%;
}

.f-caption {
  line-height: 130%;
  width: 80%;
}

#author {
  text-align: right;
}
