@import url("https://fonts.googleapis.com/css?family=Cousine:400,700");
@font-face {
  font-family: 'Plex';
  src: url("plex/IBMPlexSans-Regular.eot");
  src: url("plex/IBMPlexSans-Regular.woff") format("woff"), url("plex/IBMPlexSans-Regular.woff2") format("woff2"); }
@font-face {
  font-family: 'Mono';
  src: url("plex-m/IBMPlexMono-Regular.eot");
  src: url("plex-m/IBMPlexMono-Regular.woff") format("woff"), url("plex-m/IBMPlexMono-Regular.woff2") format("woff2"); }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1,
#guts-flash h2, h2, h3, h4, .f-caption, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3); }

/* Text */
strong, b {
  font-weight: 500; }

em {
  font-style: italic; }

/*
  ========================================
  Custom styles
  ========================================
*/
body {
  font: 300 1.8rem "Cousine", "Apercu", sans-serif;
  overflow-y: scroll; }

/* Text */
p, li {
  font: 300 1.6rem "Plex", sans-serif;
  line-height: 122%;
  color: #252525; }

h1, #guts-flash h2 {
  font-size: 10rem;
  line-height: 104%;
  word-spacing: -16px; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 6.2rem;
  line-height: 100%; }

h4, .f-caption {
  font: 300 2.2rem "Plex", sans-serif;
  letter-spacing: .1px;
  line-height: 136%; }

a,
a:visited {
  color: #000; }

/* Index Text */
#index * {
  color: white; }

#index .bar2 a:hover,
#index .subh a:hover,
a:hover {
  color: #ff25e5; }

/* Hover Movement */
.hvr-backward,
#arrow,
.nav2 {
  display: inline-block;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition: transform 0.2s ease;
  transition: transform 0.2s ease; }

#about-button:hover ~ #arrow {
  color: #ff25e5; }

.hvr-backward:hover,
#about-button:hover ~ #arrow {
  -webkit-transform: translateX(6px);
  transform: translateX(6px); }

.nav2:hover {
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px); }

/* Footer */
footer {
  position: absolute;
  bottom: 8vh;
  right: 5vw;
  opacity: .1; }
  footer h5 {
    font-size: 1.4rem;
    color: white; }

/* Back Nav */
.nav2 {
  position: fixed;
  top: 8.2vh;
  left: 3.2vw; }
  .nav2 h1, .nav2 #guts-flash h2, #guts-flash .nav2 h2 {
    font-size: 1.8rem; }
  .nav2 #lian-home-button {
    font-weight: 700;
    font-size: 3rem;
    text-decoration: none;
    color: black; }
  .nav2 #lian-home-button:hover {
    color: #ff25e5; }

.other-nav {
  position: fixed;
  width: 10vw;
  bottom: 10vh;
  right: 8vw; }
  .other-nav h2 {
    margin-bottom: 20px; }

/* Index Flashes */
.logo-flash {
  position: absolute;
  max-width: 58vw;
  min-width: 600px;
  left: 6vw;
  top: 3vh;
  z-index: -1; }

#earth-p {
  height: 110vh;
  margin-top: -10vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background-image: url(images/blobs.jpg); }

/* Grid */
img {
  object-fit: contain;
  display: inline-block; }

#guts-about,
#index {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

/* Index */
nav {
  width: 40vw;
  margin: 32vh 0 0 48vw; }
  nav a {
    text-decoration: none; }
  nav h5 {
    margin-bottom: 16px; }
  nav .bar {
    display: inline-block;
    vertical-align: top;
    margin: 48px 36px 0 0; }

#index {
  margin: 8vh 0 0 4vw; }
  #index h1, #index #guts-flash h2, #guts-flash #index h2 {
    position: absolute;
    width: 42vw;
    text-align: justify; }
  #index h4, #index .f-caption {
    width: 80%; }

.subh,
.f-caption {
  position: absolute;
  width: 40vw;
  margin: 2vh 0 0 48vw; }

#guts-flash {
  height: 56vh;
  width: 90vw;
  position: absolute;
  min-height: 380px;
  min-width: 660px; }
  #guts-flash h2 {
    width: 50%; }

#guts {
  margin: 8vh 0 10vh 8vw; }
  #guts h4, #guts .f-caption {
    line-height: 122%;
    margin: 8px 0 48px 0; }

/* About Page */
#about-box {
  margin: 10vh 0 10vh 2vw; }
  #about-box img {
    width: 44%;
    min-width: 300px;
    margin-right: 1%; }

.intro-text {
  display: inline-block;
  vertical-align: top;
  width: 40vw;
  margin-top: 1%; }

#about-me {
  position: fixed;
  padding-left: 1vw; }

/* Body Content */
#info, #main-content {
  display: inline-block;
  vertical-align: top; }
  #info h2, #main-content h2 {
    margin-bottom: 20px;
    line-height: 112%; }

#info {
  width: 16vw;
  position: fixed;
  text-align: left; }
  #info .toc {
    margin-top: 16%; }

#content, #main-content, #flyer-content, #photo-content {
  margin-left: 16vw;
  width: 52vw; }

#main-content p,
#main-content ol {
  margin-bottom: 30px;
  line-height: 130%; }
#main-content ol {
  padding-left: 60px;
  max-width: 96%; }
#main-content img {
  margin-bottom: 30px;
  max-width: 100%; }
#main-content .divide {
  padding-top: 30px; }
#main-content .caption {
  margin: -14px 0 40px 0;
  font-size: 1.3rem;
  text-align: center; }
#main-content .mult-img {
  width: 100%;
  display: flex;
  margin-bottom: 30px; }
  #main-content .mult-img img {
    width: 100%;
    height: auto;
    margin-bottom: 0; }
  #main-content .mult-img div:not(:last-child) {
    margin-right: 4px; }

#img-stack img:not(:last-child) {
  margin-bottom: 0px; }

/* Flyers */
#flyer-content h2 {
  margin-bottom: 30px; }
#flyer-content .fly {
  margin-bottom: 80px; }
  #flyer-content .fly img {
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    width: 50%;
    margin-right: 4%; }
  #flyer-content .fly .fly-content {
    display: inline-block;
    width: 30%; }

/* Photos */
#photo-content {
  display: flex;
  justify-content: center; }
  #photo-content img {
    margin: 0;
    max-width: 100%; }

.col-1-2 {
  display: inline-block;
  vertical-align: top;
  width: 50%; }

/* 
  ==================
  Media Queries
  ==================
*/

/*# sourceMappingURL=main.css.map */
