/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

/* Body */

body {
  font: 300 14px "Overpass", Roboto, sans-serif;
  line-height: 17px;
  overflow-y: scroll;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
}

/* Sidebar */

#contact-expand {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

/* Typography */

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

h1,
h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-style: italic;
}

#lian-home-button,
#lian-home-button:visited { 
  text-decoration: none; 
  color: red; 
}

a,
a:visited {
  color: #000;
}

a:hover {
  color: red;
}

.nav a {
  text-decoration: none;
}

#email {
  text-decoration: underline;
}

.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  color: black;
  -webkit-transform: translateX(6px);
  transform: translateX(6px);
}

/* Grid */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  margin: 0 0;
  width: 100%%; 
}

.grid,
.col-1-5,
.col-4-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.col-1-5,
.col-4-5  {
  display: inline-block;
  vertical-align: top;
  padding-top: 80px;
}

.col-1-5 {
  width: 20%;
  min-width: 140px;
  height: 100%;
  text-align: right;
  position: fixed;
}

.col-1-5 ul {
  padding-bottom: 20px;
}

.col-4-5 {
  padding-left: 22%;
  width: 100%;
  text-align: left;
}

.col-1-2 {
  display: inline-block;
  vertical-align: top;
  width: 42%;
  padding: 0 4px 60px 0;
}

.col-1-2 img {
  width: 100%;
}

/* Content */

.intro {
  max-width: 60%;
}

h2 {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0px;
  padding-bottom: 30px;
  font-style: italic;
  max-width: 70%;
}

h2:after {
  content: '';
  display: block;
  background: black;
  height: 2px;
  max-width: 14%;
  width: 100%;
  margin: 16px auto auto 0;
}

#main-content .dropquote {
  vertical-align: top;
  padding-left: none;
  display: inline-block;
  font-style:;
  width: 30%;
}

#main-content ol {
  padding-left: 60px;
  max-width: 70%;
}

#main-content img {
  margin-right: -4px
}

.content {
  padding-bottom: 30px;
  max-width: 70%;
}

.t {
  padding-top: 30px;
}

.aop {
  padding-bottom: 10px;
}

img {
  object-fit: contain;
  display: inline-block;
}

.right-align,
.left-align {
  display: inline-block;
  padding: 0 60px 0 60px;
  vertical-align: top;
  width: 40%;
  min-width: 200px;
  vertical-align: top;
}

.right-align,
right {
  text-align: right;
}

.left-align {
  text-align: left;
}

.img-div {
  content: '';
  display: block;
  background: black;
  height: 2px;
  max-width: 20%;
  width: 100%;
  margin: 60px 50% 60px 30%;
}

/* Flashy shit */

.logo-flash {
  width: 160px;
  height: 160px; 
}

#lian-p-width, #hexa-p-width, #p2-p-width, 
#p3-p-width, #earth-p-width, #human-p-width {
  max-width: 32%;
}
