@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,600");
@font-face {
  font-family: 'Apercu';
  src: url("apercu/apercu-mono-webfont.eot");
  src: url("apercu/apercu-mono-webfont.eot?#iefix") format("embedded-opentype"), url("apercu/apercu-mono-webfont.woff") format("woff"), url("apercu/apercu-mono-webfont.ttf") format("truetype"), url("apercu/apercu-mono-webfont.svg#webfont") format("svg"); }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3); }

/*
  ========================================
  Custom styles
  ========================================
*/
/* Text */
body {
  font: 300 16px "Apercu", "Karla", sans-serif;
  font-size: 1.6rem;
  overflow-y: scroll; }

strong, b {
  font-weight: 500; }

em {
  font-style: italic; }

h5 {
  font-weight: 700;
  margin-bottom: 16px; }

h4 {
  font-weight: 300;
  margin: -16px 0 24px 0; }

p, li {
  font: 400 1.6rem "Work Sans", "Varela Round", sans-serif;
  line-height: 122%;
  color: #252525; }

a,
a:visited {
  color: #000; }

a:hover {
  color: #4747ff; }

/* Hover Movement */
.hvr-backward,
#arrow,
.nav2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-backward:hover,
#about-button:hover ~ #arrow {
  -webkit-transform: translateX(6px);
  transform: translateX(6px); }

#about-button:hover ~ #arrow {
  color: #4747ff; }

.nav2:hover {
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px); }

/* Index Nav */
.bar {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px; }

.bar2 {
  margin: 0 0 0 6vw; }

.bar a:hover {
  color: black; }

.bar2 a:hover {
  color: #4747ff; }

nav a {
  text-decoration: none; }

.nav {
  margin-top: 4vh;
  z-index: 1; }

footer {
  position: absolute;
  bottom: 8vh;
  right: 5vw;
  opacity: .18; }
  footer h1 {
    font: 300 1.2rem "Apercu", "Karla", sans-serif; }

/* Back Nav */
.nav2 {
  position: fixed;
  top: 12%;
  left: 4%; }
  .nav2 #lian-home-button {
    font-weight: 700;
    font-size: 3rem;
    text-decoration: none;
    color: black; }
  .nav2 #lian-home-button:hover {
    color: #4747ff; }

/* Index Flashes */
.logo-flash {
  position: absolute;
  max-width: 58%;
  min-width: 600px;
  left: 36%;
  top: 12%;
  z-index: -1; }

.f-caption {
  margin-top: 20px; }

/* Flash Pic*/
#earth-p {
  height: 100vh;
  min-height: 800px;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background-position: 0 -20px;
  background-image: url(images/blobs.jpg);
  overflow: hidden; }

/* Grid */
img {
  object-fit: contain;
  display: inline-block;
  margin-left: -2px; }

#guts,
#guts-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

#guts-about {
  width: 100vw;
  height: 100vh;
  padding: 9vh 0 0 7vw;
  overflow-x: hidden; }
  #guts-about h1,
  #guts-about h3 {
    font-weight: 700;
    font-size: 8rem;
    line-height: 104%;
    word-spacing: -16px; }
  #guts-about h3 {
    width: 50%; }
  #guts-about h4,
  #guts-about .f-caption {
    font: 400 2.2rem "Work Sans", sans-serif;
    width: 96%;
    line-height: 136%; }
  #guts-about .f-caption {
    width: 56%; }
  #guts-about .subh {
    width: 80%;
    margin-top: 36px; }

#guts-flash {
  height: 56vh;
  width: 90vw;
  min-height: 380px;
  min-width: 660px; }

#guts {
  margin: 8vh 0 10vh 10vw; }
  #guts h1 {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 100%; }
  #guts h4 {
    font: 400 2rem "Work Sans", sans-serif;
    margin: 4px 0 42px 0; }

#title {
  margin-left: 0; }

/* About Page */
#about-box {
  margin: 10vh 0 10vh 2vw; }
  #about-box img {
    width: 44%;
    min-width: 300px;
    margin-right: 1%; }

.intro-text {
  display: inline-block;
  vertical-align: top;
  width: 40vw;
  margin-top: 1%; }

#about-me {
  position: fixed;
  padding-left: 1vw; }

/* Pull Quotes */
/*

h2 {
  font-size: 2.2rem;
  padding-bottom: 30px;
  max-width: 90%;
}

h2:after {
  content: '';
  display: block;
  background: black;
  height: 2px;
  width: 24%;
  margin: 16px auto auto 0;
}

*/
/* Body Content */
#main-content {
  width: 72%;
  min-width: 760px; }
  #main-content h1 {
    font-weight: 400;
    margin-bottom: 20px; }
  #main-content h1 {
    font-size: 2.6rem; }
  #main-content p,
  #main-content ol {
    margin-bottom: 30px;
    line-height: 130%; }
  #main-content img {
    margin-bottom: 30px;
    max-width: 100%; }
  #main-content .caption {
    margin: -14px 0 40px 0;
    font-size: 1.3rem;
    text-align: center; }
  #main-content ol {
    padding-left: 60px;
    max-width: 96%; }
  #main-content .mult-img {
    margin-bottom: 30px; }
    #main-content .mult-img img {
      margin-bottom: 0;
      vertical-align: middle; }
    #main-content .mult-img img:not(:last-child) {
      margin-right: -4px; }

.divide:before {
  content: '';
  display: block;
  background: black;
  height: 1px;
  width: 100%;
  margin: 0 0 30px 0;
  opacity: 0.1; }

#img-stack img:not(:last-child) {
  margin-bottom: 2px; }

#thirds img {
  max-width: 33%; }

#halfs img {
  max-width: 49%; }

/* Flyers */
.fly img {
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  width: 54%;
  margin-left: 4%; }

.fly:not(:last-child):after {
  content: '';
  display: block;
  background: black;
  height: 2px;
  width: 30%;
  margin: 20px 0 50px 35%; }

.fly-content {
  display: inline-block;
  margin-top: 100px;
  width: 40%; }

/* Photo World */
.col-1-2 {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding: 0 4px 60px 0; }

.col-1-2 img {
  width: 100%; }

/* 
  ==================
  Media Queries
  ==================
*/
@media (max-width: 700px) {
  .nav2 {
    display: none; } }
@media (max-width: 900px) {
  #guts-about h1,
  #guts-about h3 {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 104%;
    word-spacing: -16px;
    margin-left: 0; }
  #guts-about h4,
  #guts-about .f-caption {
    font-size: 2.2rem; }
  #guts-about .f-caption {
    width: 50%; }

  .bar {
    margin-right: 10px; }

  #about-box img {
    margin-top: -3vh; }

  #guts h1 {
    font-size: 4rem;
    line-height: 100%; }
  #guts h4 {
    font: 400 2.2rem "Work Sans", sans-serif;
    margin: 4px 0 42px 0; }

  #main-content {
    width: 90%;
    min-width: 0; }
    #main-content h1 {
      font-size: 2.2rem; }

  .fly {
    min-width: 545px;
    max-width: 1300px; }
    .fly img {
      vertical-align: middle; }

  .fly-content {
    margin-top: 0;
    vertical-align: middle; } }
@media (max-width: 1100px) {
  #about-box img {
    height: 62vh;
    width: 76vw;
    object-fit: cover; }

  .intro-text {
    width: 74vw;
    margin-top: 30px; } }
@media (min-height: 900px) and (min-width: 1300px) {
  #guts-about h1,
  #guts-about h3 {
    font-size: 12rem;
    word-spacing: -16px;
    margin: 0 0 20px -4px; }
  #guts-about h4,
  #guts-about .f-caption {
    font-size: 2.8rem; } }
@media (min-height: 700px) and (min-width: 1300px) {
  #guts-about h1,
  #guts-about h3 {
    font-size: 9rem;
    word-spacing: -16px;
    margin-bottom: 20px; }
  #guts-about h4,
  #guts-about .f-caption {
    font-size: 2.2rem; } }
@media (min-height: 900px) and (min-width: 1300px) {
  #guts-about h1,
  #guts-about h3 {
    font-size: 12rem;
    word-spacing: -16px;
    margin-bottom: 20px; }
  #guts-about h4,
  #guts-about .f-caption {
    font-size: 2.8rem; } }
@media (min-width: 1600px) {
  #intro-text {
    font-size: 2.2rem; } }

/*# sourceMappingURL=main.css.map */
