/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3); }

/* soof */
mark {
  background-color: white;
  box-shadow: 0 0 0 5px white;
  line-height: 32px; }

/* trial */
body {
  animation: myfadeInAnimation .4s; }

@keyframe myfadeInAnimation {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-webkit-keyframes myfadeInAnimation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* body */
.top {
  position: relative; }

.shapes {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden; }

.content {
  position: absolute; }

.bod {
  padding: 0 0 0 10%; }

.grid {
  display: block;
  padding: 22vh 0 22vh 10%;
  width: 60%; }

body {
  background-color: #fff;
  font: 300 15px Overpass, Roboto, sans-serif;
  width: 96%; }

p {
  line-height: 21px; }

h1, h2, h6, h3, h5, h4 {
  font: 500 46px "Roboto Mono", Roboto, sans-serif; }

h1 {
  font-weight: 700;
  font-size: 60px; }

h2 {
  font-size: 22px; }

h6 {
  font-size: 14px; }

h5 {
  font-size: 22px; }

em {
  font-style: italic; }

strong {
  font-weight: 600; }

a,
a:visited {
  color: black; }

a:hover,
nav a:hover {
  color: red; }

.contact {
  position: fixed;
  top: 132px;
  right: 20%; }

/* about */
.header {
  position: relative;
  padding: 10vh 0 0 0;
  margin: 0 0 0 10vw; }

.grid-about {
  display: block;
  margin: 6vh 0 0 10vw;
  width: 90%; }

.about {
  display: inline-block;
  vertical-align: top;
  padding: 30px 0 0 40px;
  width: 45%; }

/* looker && index squares */
.photo,
.visual {
  display: inline-block;
  width: 30%; }

.visual {
  margin-right: 10px; }

.square {
  display: inline-block;
  position: relative;
  width: 28%;
  margin-right: 10px;
  background-color: blue; }

.square:before {
  content: "";
  display: block;
  padding-top: 100%; }

.looker {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 100%;
  /*transition: .2s ease;
  background-color: #000;*/ }

.looker-p {
  font-size: 14px;
  position: absolute;
  text-align: right;
  opacity: 0;
  bottom: 20%;
  right: 2%;
  width: 88%;
  line-height: 16px;
  color: #fff;
  transition: .2s ease-in; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: #000;
  transition: .2s ease-in; }

h3 {
  font-size: 36px;
  position: absolute;
  text-align: right;
  top: 20%;
  right: 2%;
  width: 98%;
  opacity: 0;
  line-height: 36px;
  color: #fff;
  transition: .2s ease-in; }

.square:hover .looker-p,
.square:hover h3 {
  opacity: 1;
  transition: .2s ease-out; }

.square:hover .overlay {
  opacity: .85;
  transition: .2s ease-out; }

h4 {
  font-size: 32px;
  padding-top: 50px;
  text-align: center; }

.bod a {
  text-decoration: none; }

.bod a,
.bod a:visited {
  color: #000; }

.bod a:hover {
  color: #000; }

/* photo */
.col-1-2 {
  display: inline-block;
  vertical-align: top;
  width: 49%; }

.col-1-2:first-child {
  margin-right: 5px; }

.worldbody img {
  width: 100%;
  text-align: center; }

/* nav */
.nav {
  position: fixed;
  padding-left: 3%;
  padding-top: 6.5%; }

.nav a {
  font-size: 12px;
  text-decoration: none; }

.nav a {
  color: #000; }

/* text and world */
.textbody, .worldbody, .flyers {
  width: 84%;
  margin: 60px 0 0 10vw; }

.textbody p {
  line-height: 22px;
  text-align: left;
  margin: 0 8px 0 0; }

.textbody img {
  margin-left: -8px; }

ol {
  font: 300 15px Overpass, Roboto, sans-serif;
  line-height: 19px;
  padding: 0 10%;
  text-align: left; }

li {
  padding-bottom: 4px; }

/* flyers */
.flyerbody img {
  object-fit: contain;
  display: inline-block; }

.right-align,
.left-align {
  display: inline-block;
  padding: 0 60px 0 60px;
  width: 40%;
  min-width: 200px;
  vertical-align: top; }

.right-align {
  text-align: right; }

.left-align {
  text-align: left; }

.img-div {
  content: '';
  display: block;
  background: black;
  height: 2px;
  max-width: 30%;
  margin: 60px 35% 60px 35%; }

/* spin */
.big {
  position: relative;
  margin: 0 auto; }

.random-shape:after {
  font-family: Roboto Mono;
  content: "a"; }

@keyframes shape-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(146deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(506deg); } }
.shapec-1 {
  animation: shape-1 19s linear infinite; }
  .shapec-1 .random-shape:after {
    margin: 12rem;
    color: #ffec00;
    font-size: 2.4rem;
    content: "r"; }

@keyframes shape-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(169deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(529deg); } }
.shapec-2 {
  animation: shape-2 16s linear infinite; }
  .shapec-2 .random-shape:after {
    margin: 16rem;
    color: #4b4b4b;
    font-size: 3.2rem;
    content: "r"; }

@keyframes shape-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(58deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(418deg); } }
.shapec-3 {
  animation: shape-3 16s linear infinite; }
  .shapec-3 .random-shape:after {
    margin: 15rem;
    color: #00a0e0;
    font-size: 3rem;
    content: "u"; }

@keyframes shape-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(8deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(368deg); } }
.shapec-4 {
  animation: shape-4 20s linear infinite; }
  .shapec-4 .random-shape:after {
    margin: 20rem;
    color: #00a0e0;
    font-size: 4rem;
    content: "c"; }

@keyframes shape-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(16deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(376deg); } }
.shapec-5 {
  animation: shape-5 17s linear infinite; }
  .shapec-5 .random-shape:after {
    margin: 17rem;
    color: #e3007e;
    font-size: 3.4rem;
    content: "e"; }

@keyframes shape-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(2deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(362deg); } }
.shapec-6 {
  animation: shape-6 19s linear infinite; }
  .shapec-6 .random-shape:after {
    margin: 17rem;
    color: #00a0e0;
    font-size: 3.4rem;
    content: "e"; }

@keyframes shape-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(56deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(416deg); } }
.shapec-7 {
  animation: shape-7 16s linear infinite; }
  .shapec-7 .random-shape:after {
    margin: 17rem;
    color: #4b4b4b;
    font-size: 3.4rem;
    content: "z"; }

@keyframes shape-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(8deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(368deg); } }
.shapec-8 {
  animation: shape-8 18s linear infinite; }
  .shapec-8 .random-shape:after {
    margin: 19rem;
    color: #e3007e;
    font-size: 3.8rem;
    content: "u"; }

@keyframes shape-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(60deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(420deg); } }
.shapec-9 {
  animation: shape-9 19s linear infinite; }
  .shapec-9 .random-shape:after {
    margin: 18rem;
    color: #4b4b4b;
    font-size: 3.6rem;
    content: "e"; }

@keyframes shape-10 {
  0% {
    transform: translate3d(0, 0, 0) rotate(68deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(428deg); } }
.shapec-10 {
  animation: shape-10 20s linear infinite; }
  .shapec-10 .random-shape:after {
    margin: 18rem;
    color: #00a0e0;
    font-size: 3.6rem;
    content: "z"; }

@keyframes shape-11 {
  0% {
    transform: translate3d(0, 0, 0) rotate(94deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(454deg); } }
.shapec-11 {
  animation: shape-11 18s linear infinite; }
  .shapec-11 .random-shape:after {
    margin: 17rem;
    color: #e3007e;
    font-size: 3.4rem;
    content: "r"; }

@keyframes shape-12 {
  0% {
    transform: translate3d(0, 0, 0) rotate(93deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(453deg); } }
.shapec-12 {
  animation: shape-12 18s linear infinite; }
  .shapec-12 .random-shape:after {
    margin: 11rem;
    color: #00a0e0;
    font-size: 2.2rem;
    content: "c"; }

@keyframes shape-13 {
  0% {
    transform: translate3d(0, 0, 0) rotate(150deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(510deg); } }
.shapec-13 {
  animation: shape-13 20s linear infinite; }
  .shapec-13 .random-shape:after {
    margin: 18rem;
    color: #00a0e0;
    font-size: 3.6rem;
    content: "e"; }

@keyframes shape-14 {
  0% {
    transform: translate3d(0, 0, 0) rotate(160deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(520deg); } }
.shapec-14 {
  animation: shape-14 18s linear infinite; }
  .shapec-14 .random-shape:after {
    margin: 14rem;
    color: #e3007e;
    font-size: 2.8rem;
    content: "r"; }

@keyframes shape-15 {
  0% {
    transform: translate3d(0, 0, 0) rotate(139deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(499deg); } }
.shapec-15 {
  animation: shape-15 17s linear infinite; }
  .shapec-15 .random-shape:after {
    margin: 11rem;
    color: #ffec00;
    font-size: 2.2rem;
    content: "c"; }

@keyframes shape-16 {
  0% {
    transform: translate3d(0, 0, 0) rotate(174deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(534deg); } }
.shapec-16 {
  animation: shape-16 17s linear infinite; }
  .shapec-16 .random-shape:after {
    margin: 18rem;
    color: #4b4b4b;
    font-size: 3.6rem;
    content: "e"; }

@keyframes shape-17 {
  0% {
    transform: translate3d(0, 0, 0) rotate(157deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(517deg); } }
.shapec-17 {
  animation: shape-17 20s linear infinite; }
  .shapec-17 .random-shape:after {
    margin: 16rem;
    color: #00a0e0;
    font-size: 3.2rem;
    content: "r"; }

@keyframes shape-18 {
  0% {
    transform: translate3d(0, 0, 0) rotate(113deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(473deg); } }
.shapec-18 {
  animation: shape-18 19s linear infinite; }
  .shapec-18 .random-shape:after {
    margin: 18rem;
    color: #4b4b4b;
    font-size: 3.6rem;
    content: "e"; }

@keyframes shape-19 {
  0% {
    transform: translate3d(0, 0, 0) rotate(149deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(509deg); } }
.shapec-19 {
  animation: shape-19 17s linear infinite; }
  .shapec-19 .random-shape:after {
    margin: 12rem;
    color: #ffec00;
    font-size: 2.4rem;
    content: "r"; }

@keyframes shape-20 {
  0% {
    transform: translate3d(0, 0, 0) rotate(124deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(484deg); } }
.shapec-20 {
  animation: shape-20 17s linear infinite; }
  .shapec-20 .random-shape:after {
    margin: 20rem;
    color: #00a0e0;
    font-size: 4rem;
    content: "e"; }

@keyframes shape-21 {
  0% {
    transform: translate3d(0, 0, 0) rotate(80deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(440deg); } }
.shapec-21 {
  animation: shape-21 17s linear infinite; }
  .shapec-21 .random-shape:after {
    margin: 18rem;
    color: #e3007e;
    font-size: 3.6rem;
    content: "b"; }

@keyframes shape-22 {
  0% {
    transform: translate3d(0, 0, 0) rotate(123deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(483deg); } }
.shapec-22 {
  animation: shape-22 17s linear infinite; }
  .shapec-22 .random-shape:after {
    margin: 16rem;
    color: #ffec00;
    font-size: 3.2rem;
    content: "b"; }

@keyframes shape-23 {
  0% {
    transform: translate3d(0, 0, 0) rotate(113deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(473deg); } }
.shapec-23 {
  animation: shape-23 16s linear infinite; }
  .shapec-23 .random-shape:after {
    margin: 16rem;
    color: #4b4b4b;
    font-size: 3.2rem;
    content: "z"; }

@keyframes shape-24 {
  0% {
    transform: translate3d(0, 0, 0) rotate(168deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(528deg); } }
.shapec-24 {
  animation: shape-24 17s linear infinite; }
  .shapec-24 .random-shape:after {
    margin: 11rem;
    color: #ffec00;
    font-size: 2.2rem;
    content: "e"; }

@keyframes shape-25 {
  0% {
    transform: translate3d(0, 0, 0) rotate(77deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(437deg); } }
.shapec-25 {
  animation: shape-25 18s linear infinite; }
  .shapec-25 .random-shape:after {
    margin: 12rem;
    color: #4b4b4b;
    font-size: 2.4rem;
    content: "b"; }

@keyframes shape-26 {
  0% {
    transform: translate3d(0, 0, 0) rotate(100deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(460deg); } }
.shapec-26 {
  animation: shape-26 20s linear infinite; }
  .shapec-26 .random-shape:after {
    margin: 17rem;
    color: #e3007e;
    font-size: 3.4rem;
    content: "k"; }

@keyframes shape-27 {
  0% {
    transform: translate3d(0, 0, 0) rotate(44deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(404deg); } }
.shapec-27 {
  animation: shape-27 17s linear infinite; }
  .shapec-27 .random-shape:after {
    margin: 19rem;
    color: #4b4b4b;
    font-size: 3.8rem;
    content: "u"; }

@keyframes shape-28 {
  0% {
    transform: translate3d(0, 0, 0) rotate(1deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(361deg); } }
.shapec-28 {
  animation: shape-28 17s linear infinite; }
  .shapec-28 .random-shape:after {
    margin: 19rem;
    color: #00a0e0;
    font-size: 3.8rem;
    content: "c"; }

@keyframes shape-29 {
  0% {
    transform: translate3d(0, 0, 0) rotate(135deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(495deg); } }
.shapec-29 {
  animation: shape-29 18s linear infinite; }
  .shapec-29 .random-shape:after {
    margin: 20rem;
    color: #4b4b4b;
    font-size: 4rem;
    content: "e"; }

@keyframes shape-30 {
  0% {
    transform: translate3d(0, 0, 0) rotate(11deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(371deg); } }
.shapec-30 {
  animation: shape-30 20s linear infinite; }
  .shapec-30 .random-shape:after {
    margin: 19rem;
    color: #ffec00;
    font-size: 3.8rem;
    content: "c"; }

@keyframes shape-31 {
  0% {
    transform: translate3d(0, 0, 0) rotate(114deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(474deg); } }
.shapec-31 {
  animation: shape-31 17s linear infinite; }
  .shapec-31 .random-shape:after {
    margin: 14rem;
    color: #00a0e0;
    font-size: 2.8rem;
    content: "z"; }

@keyframes shape-32 {
  0% {
    transform: translate3d(0, 0, 0) rotate(85deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(445deg); } }
.shapec-32 {
  animation: shape-32 19s linear infinite; }
  .shapec-32 .random-shape:after {
    margin: 14rem;
    color: #00a0e0;
    font-size: 2.8rem;
    content: "g"; }

@keyframes shape-33 {
  0% {
    transform: translate3d(0, 0, 0) rotate(149deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(509deg); } }
.shapec-33 {
  animation: shape-33 16s linear infinite; }
  .shapec-33 .random-shape:after {
    margin: 15rem;
    color: #4b4b4b;
    font-size: 3rem;
    content: "r"; }

@keyframes shape-34 {
  0% {
    transform: translate3d(0, 0, 0) rotate(101deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(461deg); } }
.shapec-34 {
  animation: shape-34 18s linear infinite; }
  .shapec-34 .random-shape:after {
    margin: 16rem;
    color: #ffec00;
    font-size: 3.2rem;
    content: "u"; }

@keyframes shape-35 {
  0% {
    transform: translate3d(0, 0, 0) rotate(87deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(447deg); } }
.shapec-35 {
  animation: shape-35 18s linear infinite; }
  .shapec-35 .random-shape:after {
    margin: 19rem;
    color: #ffec00;
    font-size: 3.8rem;
    content: "e"; }

@keyframes shape-36 {
  0% {
    transform: translate3d(0, 0, 0) rotate(169deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(529deg); } }
.shapec-36 {
  animation: shape-36 19s linear infinite; }
  .shapec-36 .random-shape:after {
    margin: 16rem;
    color: #00a0e0;
    font-size: 3.2rem;
    content: "c"; }

@keyframes shape-37 {
  0% {
    transform: translate3d(0, 0, 0) rotate(121deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(481deg); } }
.shapec-37 {
  animation: shape-37 20s linear infinite; }
  .shapec-37 .random-shape:after {
    margin: 20rem;
    color: #4b4b4b;
    font-size: 4rem;
    content: "r"; }

@keyframes shape-38 {
  0% {
    transform: translate3d(0, 0, 0) rotate(157deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(517deg); } }
.shapec-38 {
  animation: shape-38 16s linear infinite; }
  .shapec-38 .random-shape:after {
    margin: 20rem;
    color: #e3007e;
    font-size: 4rem;
    content: "r"; }

@keyframes shape-39 {
  0% {
    transform: translate3d(0, 0, 0) rotate(73deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(433deg); } }
.shapec-39 {
  animation: shape-39 20s linear infinite; }
  .shapec-39 .random-shape:after {
    margin: 17rem;
    color: #00a0e0;
    font-size: 3.4rem;
    content: "e"; }

@keyframes shape-40 {
  0% {
    transform: translate3d(0, 0, 0) rotate(177deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(537deg); } }
.shapec-40 {
  animation: shape-40 17s linear infinite; }
  .shapec-40 .random-shape:after {
    margin: 11rem;
    color: #e3007e;
    font-size: 2.2rem;
    content: "e"; }

@keyframes shape-41 {
  0% {
    transform: translate3d(0, 0, 0) rotate(140deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(500deg); } }
.shapec-41 {
  animation: shape-41 16s linear infinite; }
  .shapec-41 .random-shape:after {
    margin: 15rem;
    color: #e3007e;
    font-size: 3rem;
    content: "b"; }

@keyframes shape-42 {
  0% {
    transform: translate3d(0, 0, 0) rotate(76deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(436deg); } }
.shapec-42 {
  animation: shape-42 18s linear infinite; }
  .shapec-42 .random-shape:after {
    margin: 14rem;
    color: #ffec00;
    font-size: 2.8rem;
    content: "e"; }

@keyframes shape-43 {
  0% {
    transform: translate3d(0, 0, 0) rotate(116deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(476deg); } }
.shapec-43 {
  animation: shape-43 17s linear infinite; }
  .shapec-43 .random-shape:after {
    margin: 13rem;
    color: #e3007e;
    font-size: 2.6rem;
    content: "k"; }

@keyframes shape-44 {
  0% {
    transform: translate3d(0, 0, 0) rotate(16deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(376deg); } }
.shapec-44 {
  animation: shape-44 20s linear infinite; }
  .shapec-44 .random-shape:after {
    margin: 14rem;
    color: #e3007e;
    font-size: 2.8rem;
    content: "u"; }

@keyframes shape-45 {
  0% {
    transform: translate3d(0, 0, 0) rotate(49deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(409deg); } }
.shapec-45 {
  animation: shape-45 17s linear infinite; }
  .shapec-45 .random-shape:after {
    margin: 12rem;
    color: #00a0e0;
    font-size: 2.4rem;
    content: "k"; }

@keyframes shape-46 {
  0% {
    transform: translate3d(0, 0, 0) rotate(31deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(391deg); } }
.shapec-46 {
  animation: shape-46 18s linear infinite; }
  .shapec-46 .random-shape:after {
    margin: 12rem;
    color: #e3007e;
    font-size: 2.4rem;
    content: "e"; }

@keyframes shape-47 {
  0% {
    transform: translate3d(0, 0, 0) rotate(80deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(440deg); } }
.shapec-47 {
  animation: shape-47 18s linear infinite; }
  .shapec-47 .random-shape:after {
    margin: 15rem;
    color: #ffec00;
    font-size: 3rem;
    content: "c"; }

@keyframes shape-48 {
  0% {
    transform: translate3d(0, 0, 0) rotate(6deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(366deg); } }
.shapec-48 {
  animation: shape-48 16s linear infinite; }
  .shapec-48 .random-shape:after {
    margin: 20rem;
    color: #00a0e0;
    font-size: 4rem;
    content: "u"; }

@keyframes shape-49 {
  0% {
    transform: translate3d(0, 0, 0) rotate(25deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(385deg); } }
.shapec-49 {
  animation: shape-49 16s linear infinite; }
  .shapec-49 .random-shape:after {
    margin: 19rem;
    color: #ffec00;
    font-size: 3.8rem;
    content: "e"; }

@keyframes shape-50 {
  0% {
    transform: translate3d(0, 0, 0) rotate(133deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(493deg); } }
.shapec-50 {
  animation: shape-50 16s linear infinite; }
  .shapec-50 .random-shape:after {
    margin: 17rem;
    color: #00a0e0;
    font-size: 3.4rem;
    content: "r"; }

@keyframes shape-51 {
  0% {
    transform: translate3d(0, 0, 0) rotate(45deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(405deg); } }
.shapec-51 {
  animation: shape-51 17s linear infinite; }
  .shapec-51 .random-shape:after {
    margin: 18rem;
    color: #00a0e0;
    font-size: 3.6rem;
    content: "k"; }

@keyframes shape-52 {
  0% {
    transform: translate3d(0, 0, 0) rotate(165deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(525deg); } }
.shapec-52 {
  animation: shape-52 18s linear infinite; }
  .shapec-52 .random-shape:after {
    margin: 13rem;
    color: #ffec00;
    font-size: 2.6rem;
    content: "c"; }

@keyframes shape-53 {
  0% {
    transform: translate3d(0, 0, 0) rotate(31deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(391deg); } }
.shapec-53 {
  animation: shape-53 20s linear infinite; }
  .shapec-53 .random-shape:after {
    margin: 14rem;
    color: #4b4b4b;
    font-size: 2.8rem;
    content: "r"; }

@keyframes shape-54 {
  0% {
    transform: translate3d(0, 0, 0) rotate(151deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(511deg); } }
.shapec-54 {
  animation: shape-54 16s linear infinite; }
  .shapec-54 .random-shape:after {
    margin: 19rem;
    color: #ffec00;
    font-size: 3.8rem;
    content: "k"; }

@keyframes shape-55 {
  0% {
    transform: translate3d(0, 0, 0) rotate(117deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(477deg); } }
.shapec-55 {
  animation: shape-55 18s linear infinite; }
  .shapec-55 .random-shape:after {
    margin: 18rem;
    color: #00a0e0;
    font-size: 3.6rem;
    content: "g"; }

@keyframes shape-56 {
  0% {
    transform: translate3d(0, 0, 0) rotate(12deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(372deg); } }
.shapec-56 {
  animation: shape-56 19s linear infinite; }
  .shapec-56 .random-shape:after {
    margin: 12rem;
    color: #00a0e0;
    font-size: 2.4rem;
    content: "r"; }

@keyframes shape-57 {
  0% {
    transform: translate3d(0, 0, 0) rotate(171deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(531deg); } }
.shapec-57 {
  animation: shape-57 19s linear infinite; }
  .shapec-57 .random-shape:after {
    margin: 14rem;
    color: #ffec00;
    font-size: 2.8rem;
    content: "r"; }

@keyframes shape-58 {
  0% {
    transform: translate3d(0, 0, 0) rotate(77deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(437deg); } }
.shapec-58 {
  animation: shape-58 18s linear infinite; }
  .shapec-58 .random-shape:after {
    margin: 12rem;
    color: #ffec00;
    font-size: 2.4rem;
    content: "r"; }

@keyframes shape-59 {
  0% {
    transform: translate3d(0, 0, 0) rotate(79deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(439deg); } }
.shapec-59 {
  animation: shape-59 18s linear infinite; }
  .shapec-59 .random-shape:after {
    margin: 20rem;
    color: #e3007e;
    font-size: 4rem;
    content: "r"; }

@keyframes shape-60 {
  0% {
    transform: translate3d(0, 0, 0) rotate(110deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(470deg); } }
.shapec-60 {
  animation: shape-60 16s linear infinite; }
  .shapec-60 .random-shape:after {
    margin: 19rem;
    color: #e3007e;
    font-size: 3.8rem;
    content: "u"; }

/*# sourceMappingURL=stylewatch.css.map */
