/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3); }

/* soof */
mark {
  background-color: white;
  box-shadow: 0 0 0 5px white;
  line-height: 32px; }

/* trial */
body {
  animation: myfadeInAnimation .4s; }

@keyframe myfadeInAnimation {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-webkit-keyframes myfadeInAnimation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* body */
.shapes {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden; }

.top {
  background-color: #fff; }

.content {
  position: absolute; }

.bod {
  padding: 0 0 0 8%; }

.grid {
  display: block;
  padding: 22vh 0 22vh 10vw;
  margin-left: 17vw;
  width: 57%;
  text-align: center; }

body {
  background-color: #fff;
  font: 300 16px Overpass, Roboto, sans-serif;
  width: 96%; }

p {
  line-height: 140%; }

h1, h2, h6, h3, h5, h4 {
  font: 300 46px "Roboto Mono", Roboto, sans-serif; }

.title {
  font: 700 56px "Roboto Mono", Roboto, sans-serif;
  font-style: italic; }

h1 {
  font-weight: 300;
  font-size: 60px; }

h2 {
  font-size: 24px; }

h6 {
  font-size: 16px; }

h5 {
  font-size: 22px; }

em {
  font-style: italic; }

strong {
  font-weight: 600; }

a,
a:visited {
  color: black; }

a:hover,
nav a:hover {
  color: red; }

.contact {
  position: fixed;
  top: 132px;
  right: 20%; }

img {
  background-color: blue; }

.flyerbody img {
  background-color: white; }

/* about */
.header {
  position: relative;
  margin: 0 15vh;
  padding: 10vh 0 0 0;
  text-align: center; }

.grid-about {
  display: block;
  margin: 8vh 0 0 10vw;
  width: 90%; }

.about,
.about-pic {
  display: inline-block;
  vertical-align: top;
  width: 46%; }

.about-pic {
  padding: 0 4% 0 0; }

.about-pic img {
  width: 100%; }

.about-pic h6 {
  font-size: 14px;
  margin-top: 10px;
  text-align: center; }

.about h2 {
  padding-top: 30px; }

/* looker && index squares */
.photo,
.visual {
  display: inline-block;
  width: 30%; }

.visual {
  margin-right: 10px; }

.square {
  display: inline-block;
  position: relative;
  width: 30%;
  margin-right: 10px;
  background-color: blue; }

.visual, .photo {
  width: 30%; }

.square:before {
  content: "";
  display: block;
  padding-top: 100%; }

.looker {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 100%;
  /*transition: .2s ease;
  background-color: #000;*/ }

.looker-p {
  font-size: 16px;
  line-height: 120%;
  position: absolute;
  text-align: right;
  opacity: 0;
  bottom: 20%;
  right: 2%;
  width: 88%;
  color: #fff;
  transition: .2s ease-in; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: #000;
  transition: .2s ease-in; }

h3 {
  font-size: 40px;
  line-height: 105%;
  position: absolute;
  text-align: right;
  top: 20%;
  right: 2%;
  width: 98%;
  opacity: 0;
  color: #fff;
  transition: .2s ease-in; }

.square:hover .looker-p,
.square:hover h3 {
  opacity: 1;
  transition: .2s ease-out; }

.square:hover .overlay {
  opacity: .85;
  transition: .2s ease-out; }

h4 {
  font-size: 32px;
  padding-top: 50px;
  text-align: center; }

.bod a {
  text-decoration: none; }

.bod a,
.bod a:visited {
  color: #000; }

.bod a:hover {
  color: #000; }

/* photo */
.col-1-2 {
  display: inline-block;
  vertical-align: top;
  width: 49%; }

.col-1-2:first-child {
  margin-right: 5px; }

.worldbody img {
  width: 100%;
  text-align: center; }

/* nav */
.nav {
  position: fixed;
  padding-left: 4%;
  padding-top: 7%; }

.nav a {
  font-size: 14px;
  text-decoration: none; }

.nav a {
  color: #000; }

/* text and world */
.textbody, .worldbody, .flyers {
  width: 84%;
  margin: 4vh 0 0 10vw; }

.textbody p {
  line-height: 140%;
  text-align: left;
  margin: 0 8px 0 0; }

.textbody img {
  margin-left: -8px; }

ol {
  font: 300 15px Overpass, Roboto, sans-serif;
  line-height: 19px;
  padding: 0 10%;
  text-align: left; }

li {
  padding-bottom: 4px; }

/* flyers */
.flyerbody img {
  object-fit: contain;
  display: inline-block; }

.right-align,
.left-align {
  display: inline-block;
  padding: 0 60px 0 60px;
  width: 40%;
  min-width: 200px;
  vertical-align: top; }

.right-align {
  text-align: right; }

.left-align {
  text-align: left; }

.img-div {
  content: '';
  display: block;
  background: black;
  height: 2px;
  max-width: 30%;
  margin: 60px 35% 60px 35%; }

/* spin */
.big {
  position: relative;
  margin: 0 auto; }

.random-shape:after {
  font-family: Roboto Mono;
  content: "a"; }

@keyframes shape-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(55deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(415deg); } }
.shapec-1 {
  animation: shape-1 18s linear infinite; }
  .shapec-1 .random-shape:after {
    margin: 18rem;
    color: #ffec00;
    font-size: 3.6rem;
    content: "n"; }

@keyframes shape-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(2deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(362deg); } }
.shapec-2 {
  animation: shape-2 16s linear infinite; }
  .shapec-2 .random-shape:after {
    margin: 20rem;
    color: #00a0e0;
    font-size: 4rem;
    content: "l"; }

@keyframes shape-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(97deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(457deg); } }
.shapec-3 {
  animation: shape-3 17s linear infinite; }
  .shapec-3 .random-shape:after {
    margin: 13rem;
    color: #ffec00;
    font-size: 2.6rem;
    content: "n"; }

@keyframes shape-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(42deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(402deg); } }
.shapec-4 {
  animation: shape-4 17s linear infinite; }
  .shapec-4 .random-shape:after {
    margin: 14rem;
    color: #4b4b4b;
    font-size: 2.8rem;
    content: "n"; }

@keyframes shape-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(96deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(456deg); } }
.shapec-5 {
  animation: shape-5 20s linear infinite; }
  .shapec-5 .random-shape:after {
    margin: 12rem;
    color: #00a0e0;
    font-size: 2.4rem;
    content: "i"; }

@keyframes shape-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(12deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(372deg); } }
.shapec-6 {
  animation: shape-6 19s linear infinite; }
  .shapec-6 .random-shape:after {
    margin: 15rem;
    color: #e3007e;
    font-size: 3rem;
    content: "i"; }

@keyframes shape-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(28deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(388deg); } }
.shapec-7 {
  animation: shape-7 16s linear infinite; }
  .shapec-7 .random-shape:after {
    margin: 14rem;
    color: #4b4b4b;
    font-size: 2.8rem;
    content: "i"; }

@keyframes shape-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(30deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(390deg); } }
.shapec-8 {
  animation: shape-8 17s linear infinite; }
  .shapec-8 .random-shape:after {
    margin: 20rem;
    color: #00a0e0;
    font-size: 4rem;
    content: "i"; }

@keyframes shape-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(50deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(410deg); } }
.shapec-9 {
  animation: shape-9 20s linear infinite; }
  .shapec-9 .random-shape:after {
    margin: 13rem;
    color: #e3007e;
    font-size: 2.6rem;
    content: "l"; }

@keyframes shape-10 {
  0% {
    transform: translate3d(0, 0, 0) rotate(93deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(453deg); } }
.shapec-10 {
  animation: shape-10 18s linear infinite; }
  .shapec-10 .random-shape:after {
    margin: 12rem;
    color: #e3007e;
    font-size: 2.4rem;
    content: "i"; }

@keyframes shape-11 {
  0% {
    transform: translate3d(0, 0, 0) rotate(74deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(434deg); } }
.shapec-11 {
  animation: shape-11 20s linear infinite; }
  .shapec-11 .random-shape:after {
    margin: 14rem;
    color: #00a0e0;
    font-size: 2.8rem;
    content: "l"; }

@keyframes shape-12 {
  0% {
    transform: translate3d(0, 0, 0) rotate(75deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(435deg); } }
.shapec-12 {
  animation: shape-12 20s linear infinite; }
  .shapec-12 .random-shape:after {
    margin: 12rem;
    color: #00a0e0;
    font-size: 2.4rem;
    content: "i"; }

@keyframes shape-13 {
  0% {
    transform: translate3d(0, 0, 0) rotate(38deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(398deg); } }
.shapec-13 {
  animation: shape-13 19s linear infinite; }
  .shapec-13 .random-shape:after {
    margin: 16rem;
    color: #e3007e;
    font-size: 3.2rem;
    content: "a"; }

@keyframes shape-14 {
  0% {
    transform: translate3d(0, 0, 0) rotate(79deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(439deg); } }
.shapec-14 {
  animation: shape-14 16s linear infinite; }
  .shapec-14 .random-shape:after {
    margin: 11rem;
    color: #e3007e;
    font-size: 2.2rem;
    content: "i"; }

@keyframes shape-15 {
  0% {
    transform: translate3d(0, 0, 0) rotate(76deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(436deg); } }
.shapec-15 {
  animation: shape-15 17s linear infinite; }
  .shapec-15 .random-shape:after {
    margin: 14rem;
    color: #e3007e;
    font-size: 2.8rem;
    content: "n"; }

@keyframes shape-16 {
  0% {
    transform: translate3d(0, 0, 0) rotate(77deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(437deg); } }
.shapec-16 {
  animation: shape-16 18s linear infinite; }
  .shapec-16 .random-shape:after {
    margin: 15rem;
    color: #e3007e;
    font-size: 3rem;
    content: "i"; }

@keyframes shape-17 {
  0% {
    transform: translate3d(0, 0, 0) rotate(19deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(379deg); } }
.shapec-17 {
  animation: shape-17 16s linear infinite; }
  .shapec-17 .random-shape:after {
    margin: 12rem;
    color: #4b4b4b;
    font-size: 2.4rem;
    content: "a"; }

@keyframes shape-18 {
  0% {
    transform: translate3d(0, 0, 0) rotate(52deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(412deg); } }
.shapec-18 {
  animation: shape-18 20s linear infinite; }
  .shapec-18 .random-shape:after {
    margin: 18rem;
    color: #ffec00;
    font-size: 3.6rem;
    content: "i"; }

@keyframes shape-19 {
  0% {
    transform: translate3d(0, 0, 0) rotate(76deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(436deg); } }
.shapec-19 {
  animation: shape-19 20s linear infinite; }
  .shapec-19 .random-shape:after {
    margin: 15rem;
    color: #4b4b4b;
    font-size: 3rem;
    content: "n"; }

@keyframes shape-20 {
  0% {
    transform: translate3d(0, 0, 0) rotate(148deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(508deg); } }
.shapec-20 {
  animation: shape-20 19s linear infinite; }
  .shapec-20 .random-shape:after {
    margin: 19rem;
    color: #4b4b4b;
    font-size: 3.8rem;
    content: "i"; }

@keyframes shape-21 {
  0% {
    transform: translate3d(0, 0, 0) rotate(10deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(370deg); } }
.shapec-21 {
  animation: shape-21 17s linear infinite; }
  .shapec-21 .random-shape:after {
    margin: 16rem;
    color: #4b4b4b;
    font-size: 3.2rem;
    content: "l"; }

@keyframes shape-22 {
  0% {
    transform: translate3d(0, 0, 0) rotate(8deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(368deg); } }
.shapec-22 {
  animation: shape-22 18s linear infinite; }
  .shapec-22 .random-shape:after {
    margin: 19rem;
    color: #e3007e;
    font-size: 3.8rem;
    content: "i"; }

@keyframes shape-23 {
  0% {
    transform: translate3d(0, 0, 0) rotate(2deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(362deg); } }
.shapec-23 {
  animation: shape-23 17s linear infinite; }
  .shapec-23 .random-shape:after {
    margin: 12rem;
    color: #e3007e;
    font-size: 2.4rem;
    content: "n"; }

@keyframes shape-24 {
  0% {
    transform: translate3d(0, 0, 0) rotate(45deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(405deg); } }
.shapec-24 {
  animation: shape-24 17s linear infinite; }
  .shapec-24 .random-shape:after {
    margin: 18rem;
    color: #ffec00;
    font-size: 3.6rem;
    content: "i"; }

@keyframes shape-25 {
  0% {
    transform: translate3d(0, 0, 0) rotate(70deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(430deg); } }
.shapec-25 {
  animation: shape-25 18s linear infinite; }
  .shapec-25 .random-shape:after {
    margin: 12rem;
    color: #00a0e0;
    font-size: 2.4rem;
    content: "l"; }

/*# sourceMappingURL=stylewatch.css.map */
