@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3); }

/* soof */
mark {
  background-color: white;
  box-shadow: 0 0 0 5px white;
  line-height: 32px; }

/* trial */
body {
  animation: myfadeInAnimation .4s; }

@keyframe myfadeInAnimation {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-webkit-keyframes myfadeInAnimation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* body */
.shapes {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden; }

.top {
  background-color: #fff; }

.content {
  position: absolute; }

.bod {
  padding: 0 0 0 8%; }

.grid {
  display: block;
  padding: 22vh 0 22vh 10vw;
  margin-left: 17vw;
  width: 57%;
  text-align: center; }

body {
  background-color: #fff;
  font: 300 16px Overpass, Roboto, sans-serif;
  width: 96%; }

p {
  line-height: 140%; }

h1, h2, h6, h3, h5, h4 {
  font: 300 46px "Roboto Mono", Roboto, sans-serif; }

.title {
  font: 700 56px "Roboto Mono", Roboto, sans-serif;
  font-style: italic; }

h1 {
  font-weight: 300;
  font-size: 60px; }

h2 {
  font-size: 24px; }

h6 {
  font-size: 16px; }

h5 {
  font-size: 22px; }

em {
  font-style: italic; }

strong {
  font-weight: 600; }

a,
a:visited {
  color: black; }

a:hover,
nav a:hover {
  color: red; }

.contact {
  position: fixed;
  top: 132px;
  right: 20%; }

img {
  background-color: blue; }

.flyerbody img {
  background-color: white; }

/* about */
.header {
  position: relative;
  margin: 0 15vh;
  padding: 10vh 0 0 0;
  text-align: center; }

.grid-about {
  display: block;
  margin: 8vh 0 0 10vw;
  width: 90%; }

.about,
.about-pic {
  display: inline-block;
  vertical-align: top;
  width: 46%; }

.about-pic {
  padding: 0 4% 0 0; }

.about-pic img {
  width: 100%; }

.about-pic h6 {
  font-size: 14px;
  margin-top: 10px;
  text-align: center; }

.about h2 {
  padding-top: 30px; }

/* looker && index squares */
.photo,
.visual {
  display: inline-block;
  width: 30%; }

.visual {
  margin-right: 10px; }

.square {
  display: inline-block;
  position: relative;
  width: 30%;
  margin-right: 10px;
  background-color: blue; }

.visual, .photo {
  width: 30%; }

.square:before {
  content: "";
  display: block;
  padding-top: 100%; }

.looker {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 100%;
  /*transition: .2s ease;
  background-color: #000;*/ }

.looker-p {
  font-size: 16px;
  line-height: 120%;
  position: absolute;
  text-align: right;
  opacity: 0;
  bottom: 20%;
  right: 2%;
  width: 88%;
  color: #fff;
  transition: .2s ease-in; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: #000;
  transition: .2s ease-in; }

h3 {
  font-size: 40px;
  line-height: 105%;
  position: absolute;
  text-align: right;
  top: 20%;
  right: 2%;
  width: 98%;
  opacity: 0;
  color: #fff;
  transition: .2s ease-in; }

.square:hover .looker-p,
.square:hover h3 {
  opacity: 1;
  transition: .2s ease-out; }

.square:hover .overlay {
  opacity: .85;
  transition: .2s ease-out; }

h4 {
  font-size: 32px;
  padding-top: 50px;
  text-align: center; }

.bod a {
  text-decoration: none; }

.bod a,
.bod a:visited {
  color: #000; }

.bod a:hover {
  color: #000; }

/* photo */
.col-1-2 {
  display: inline-block;
  vertical-align: top;
  width: 49%; }

.col-1-2:first-child {
  margin-right: 5px; }

.worldbody img {
  width: 100%;
  text-align: center; }

/* nav */
.nav {
  position: fixed;
  padding-left: 3%;
  padding-top: 7%; }

.nav a {
  font-size: 14px;
  text-decoration: none; }

.nav a {
  color: #000; }

/* text and world */
.textbody, .worldbody, .flyers {
  width: 84%;
  margin: 10vh 0 0 10vw; }

.textbody p {
  line-height: 140%;
  text-align: left;
  margin: 0 8px 0 0; }

.textbody img {
  margin-left: -8px; }

ol {
  font: 300 15px Overpass, Roboto, sans-serif;
  line-height: 19px;
  padding: 0 10%;
  text-align: left; }

li {
  padding-bottom: 4px; }

/* flyers */
.flyerbody img {
  object-fit: contain;
  display: inline-block; }

.right-align,
.left-align {
  display: inline-block;
  padding: 0 60px 0 60px;
  width: 40%;
  min-width: 200px;
  vertical-align: top; }

.right-align {
  text-align: right; }

.left-align {
  text-align: left; }

.img-div {
  content: '';
  display: block;
  background: black;
  height: 2px;
  max-width: 30%;
  margin: 60px 35% 60px 35%; }

/* spin */
.big {
  position: relative;
  margin: 0 auto; }

.random-shape:after {
  font-family: 'FontAwesome';
  content: "a";
  position: relative;
  opacity: .8; }

@keyframes shape-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(97deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(457deg); } }
.shapeno-1 {
  animation: shape-1 27s linear infinite; }
  .shapeno-1 .random-shape:after {
    margin: 12rem;
    color: #00a0e0;
    font-size: 2.4rem;
    content: ""; }

@keyframes shape-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(71deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(431deg); } }
.shapeno-2 {
  animation: shape-2 27s linear infinite; }
  .shapeno-2 .random-shape:after {
    margin: 12rem;
    color: #ffec00;
    font-size: 2.4rem;
    content: ""; }

@keyframes shape-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(87deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(447deg); } }
.shapeno-3 {
  animation: shape-3 25s linear infinite; }
  .shapeno-3 .random-shape:after {
    margin: 8rem;
    color: #ffec00;
    font-size: 1.6rem;
    content: ""; }

@keyframes shape-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(55deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(415deg); } }
.shapeno-4 {
  animation: shape-4 24s linear infinite; }
  .shapeno-4 .random-shape:after {
    margin: 8rem;
    color: #ffec00;
    font-size: 1.6rem;
    content: ""; }

@keyframes shape-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(236deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(596deg); } }
.shapeno-5 {
  animation: shape-5 27s linear infinite; }
  .shapeno-5 .random-shape:after {
    margin: 12rem;
    color: #ffec00;
    font-size: 2.4rem;
    content: ""; }

@keyframes shape-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(224deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(584deg); } }
.shapeno-6 {
  animation: shape-6 23s linear infinite; }
  .shapeno-6 .random-shape:after {
    margin: 8rem;
    color: #e3007e;
    font-size: 1.6rem;
    content: ""; }

@keyframes shape-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(9deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(369deg); } }
.shapeno-7 {
  animation: shape-7 27s linear infinite; }
  .shapeno-7 .random-shape:after {
    margin: 9rem;
    color: #00a0e0;
    font-size: 1.8rem;
    content: ""; }

@keyframes shape-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(58deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(418deg); } }
.shapeno-8 {
  animation: shape-8 26s linear infinite; }
  .shapeno-8 .random-shape:after {
    margin: 8rem;
    color: #ffec00;
    font-size: 1.6rem;
    content: ""; }

@keyframes shape-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(192deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(552deg); } }
.shapeno-9 {
  animation: shape-9 27s linear infinite; }
  .shapeno-9 .random-shape:after {
    margin: 11rem;
    color: #00a0e0;
    font-size: 2.2rem;
    content: ""; }

@keyframes shape-10 {
  0% {
    transform: translate3d(0, 0, 0) rotate(55deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(415deg); } }
.shapeno-10 {
  animation: shape-10 25s linear infinite; }
  .shapeno-10 .random-shape:after {
    margin: 11rem;
    color: #e3007e;
    font-size: 2.2rem;
    content: ""; }

@keyframes shape-11 {
  0% {
    transform: translate3d(0, 0, 0) rotate(75deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(435deg); } }
.shapeno-11 {
  animation: shape-11 24s linear infinite; }
  .shapeno-11 .random-shape:after {
    margin: 12rem;
    color: #00a0e0;
    font-size: 2.4rem;
    content: ""; }

@keyframes shape-12 {
  0% {
    transform: translate3d(0, 0, 0) rotate(229deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(589deg); } }
.shapeno-12 {
  animation: shape-12 27s linear infinite; }
  .shapeno-12 .random-shape:after {
    margin: 9rem;
    color: #ffec00;
    font-size: 1.8rem;
    content: ""; }

@keyframes shape-13 {
  0% {
    transform: translate3d(0, 0, 0) rotate(350deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(710deg); } }
.shapeno-13 {
  animation: shape-13 27s linear infinite; }
  .shapeno-13 .random-shape:after {
    margin: 9rem;
    color: #ffec00;
    font-size: 1.8rem;
    content: ""; }

@keyframes shape-14 {
  0% {
    transform: translate3d(0, 0, 0) rotate(25deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(385deg); } }
.shapeno-14 {
  animation: shape-14 27s linear infinite; }
  .shapeno-14 .random-shape:after {
    margin: 9rem;
    color: #e3007e;
    font-size: 1.8rem;
    content: ""; }

@keyframes shape-15 {
  0% {
    transform: translate3d(0, 0, 0) rotate(318deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(678deg); } }
.shapeno-15 {
  animation: shape-15 27s linear infinite; }
  .shapeno-15 .random-shape:after {
    margin: 8rem;
    color: #ffec00;
    font-size: 1.6rem;
    content: ""; }

@keyframes shape-16 {
  0% {
    transform: translate3d(0, 0, 0) rotate(10deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(370deg); } }
.shapeno-16 {
  animation: shape-16 26s linear infinite; }
  .shapeno-16 .random-shape:after {
    margin: 9rem;
    color: #ffec00;
    font-size: 1.8rem;
    content: ""; }

@keyframes shape-17 {
  0% {
    transform: translate3d(0, 0, 0) rotate(130deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(490deg); } }
.shapeno-17 {
  animation: shape-17 23s linear infinite; }
  .shapeno-17 .random-shape:after {
    margin: 8rem;
    color: #ffec00;
    font-size: 1.6rem;
    content: ""; }

@keyframes shape-18 {
  0% {
    transform: translate3d(0, 0, 0) rotate(198deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(558deg); } }
.shapeno-18 {
  animation: shape-18 27s linear infinite; }
  .shapeno-18 .random-shape:after {
    margin: 10rem;
    color: #ffec00;
    font-size: 2rem;
    content: ""; }

@keyframes shape-19 {
  0% {
    transform: translate3d(0, 0, 0) rotate(337deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(697deg); } }
.shapeno-19 {
  animation: shape-19 27s linear infinite; }
  .shapeno-19 .random-shape:after {
    margin: 7rem;
    color: #00a0e0;
    font-size: 1.4rem;
    content: ""; }

@keyframes shape-20 {
  0% {
    transform: translate3d(0, 0, 0) rotate(34deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(394deg); } }
.shapeno-20 {
  animation: shape-20 24s linear infinite; }
  .shapeno-20 .random-shape:after {
    margin: 9rem;
    color: #e3007e;
    font-size: 1.8rem;
    content: ""; }

@keyframes shape-21 {
  0% {
    transform: translate3d(0, 0, 0) rotate(359deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(719deg); } }
.shapeno-21 {
  animation: shape-21 24s linear infinite; }
  .shapeno-21 .random-shape:after {
    margin: 11rem;
    color: #ffec00;
    font-size: 2.2rem;
    content: ""; }

@keyframes shape-22 {
  0% {
    transform: translate3d(0, 0, 0) rotate(117deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(477deg); } }
.shapeno-22 {
  animation: shape-22 23s linear infinite; }
  .shapeno-22 .random-shape:after {
    margin: 9rem;
    color: #e3007e;
    font-size: 1.8rem;
    content: ""; }

@keyframes shape-23 {
  0% {
    transform: translate3d(0, 0, 0) rotate(226deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(586deg); } }
.shapeno-23 {
  animation: shape-23 23s linear infinite; }
  .shapeno-23 .random-shape:after {
    margin: 12rem;
    color: #00a0e0;
    font-size: 2.4rem;
    content: ""; }

@keyframes shape-24 {
  0% {
    transform: translate3d(0, 0, 0) rotate(321deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(681deg); } }
.shapeno-24 {
  animation: shape-24 24s linear infinite; }
  .shapeno-24 .random-shape:after {
    margin: 11rem;
    color: #e3007e;
    font-size: 2.2rem;
    content: ""; }

@keyframes shape-25 {
  0% {
    transform: translate3d(0, 0, 0) rotate(228deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(588deg); } }
.shapeno-25 {
  animation: shape-25 27s linear infinite; }
  .shapeno-25 .random-shape:after {
    margin: 12rem;
    color: #ffec00;
    font-size: 2.4rem;
    content: ""; }

@keyframes shape-26 {
  0% {
    transform: translate3d(0, 0, 0) rotate(5deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(365deg); } }
.shapeno-26 {
  animation: shape-26 27s linear infinite; }
  .shapeno-26 .random-shape:after {
    margin: 11rem;
    color: #e3007e;
    font-size: 2.2rem;
    content: ""; }

@keyframes shape-27 {
  0% {
    transform: translate3d(0, 0, 0) rotate(264deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(624deg); } }
.shapeno-27 {
  animation: shape-27 25s linear infinite; }
  .shapeno-27 .random-shape:after {
    margin: 8rem;
    color: #e3007e;
    font-size: 1.6rem;
    content: ""; }

@keyframes shape-28 {
  0% {
    transform: translate3d(0, 0, 0) rotate(324deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(684deg); } }
.shapeno-28 {
  animation: shape-28 24s linear infinite; }
  .shapeno-28 .random-shape:after {
    margin: 8rem;
    color: #00a0e0;
    font-size: 1.6rem;
    content: ""; }

@keyframes shape-29 {
  0% {
    transform: translate3d(0, 0, 0) rotate(1deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(361deg); } }
.shapeno-29 {
  animation: shape-29 24s linear infinite; }
  .shapeno-29 .random-shape:after {
    margin: 11rem;
    color: #ffec00;
    font-size: 2.2rem;
    content: ""; }

@keyframes shape-30 {
  0% {
    transform: translate3d(0, 0, 0) rotate(240deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(600deg); } }
.shapeno-30 {
  animation: shape-30 25s linear infinite; }
  .shapeno-30 .random-shape:after {
    margin: 8rem;
    color: #e3007e;
    font-size: 1.6rem;
    content: ""; }

@keyframes shape-31 {
  0% {
    transform: translate3d(0, 0, 0) rotate(199deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(559deg); } }
.shapeno-31 {
  animation: shape-31 26s linear infinite; }
  .shapeno-31 .random-shape:after {
    margin: 12rem;
    color: #e3007e;
    font-size: 2.4rem;
    content: ""; }

@keyframes shape-32 {
  0% {
    transform: translate3d(0, 0, 0) rotate(34deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(394deg); } }
.shapeno-32 {
  animation: shape-32 27s linear infinite; }
  .shapeno-32 .random-shape:after {
    margin: 9rem;
    color: #e3007e;
    font-size: 1.8rem;
    content: ""; }

@keyframes shape-33 {
  0% {
    transform: translate3d(0, 0, 0) rotate(265deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(625deg); } }
.shapeno-33 {
  animation: shape-33 27s linear infinite; }
  .shapeno-33 .random-shape:after {
    margin: 7rem;
    color: #e3007e;
    font-size: 1.4rem;
    content: ""; }

@keyframes shape-34 {
  0% {
    transform: translate3d(0, 0, 0) rotate(50deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(410deg); } }
.shapeno-34 {
  animation: shape-34 24s linear infinite; }
  .shapeno-34 .random-shape:after {
    margin: 11rem;
    color: #e3007e;
    font-size: 2.2rem;
    content: ""; }

@keyframes shape-35 {
  0% {
    transform: translate3d(0, 0, 0) rotate(159deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(519deg); } }
.shapeno-35 {
  animation: shape-35 26s linear infinite; }
  .shapeno-35 .random-shape:after {
    margin: 7rem;
    color: #e3007e;
    font-size: 1.4rem;
    content: ""; }

@keyframes shape-36 {
  0% {
    transform: translate3d(0, 0, 0) rotate(10deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(370deg); } }
.shapeno-36 {
  animation: shape-36 25s linear infinite; }
  .shapeno-36 .random-shape:after {
    margin: 7rem;
    color: #e3007e;
    font-size: 1.4rem;
    content: ""; }

@keyframes shape-37 {
  0% {
    transform: translate3d(0, 0, 0) rotate(6deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(366deg); } }
.shapeno-37 {
  animation: shape-37 24s linear infinite; }
  .shapeno-37 .random-shape:after {
    margin: 8rem;
    color: #e3007e;
    font-size: 1.6rem;
    content: ""; }

@keyframes shape-38 {
  0% {
    transform: translate3d(0, 0, 0) rotate(161deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(521deg); } }
.shapeno-38 {
  animation: shape-38 26s linear infinite; }
  .shapeno-38 .random-shape:after {
    margin: 7rem;
    color: #e3007e;
    font-size: 1.4rem;
    content: ""; }

@keyframes shape-39 {
  0% {
    transform: translate3d(0, 0, 0) rotate(25deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(385deg); } }
.shapeno-39 {
  animation: shape-39 26s linear infinite; }
  .shapeno-39 .random-shape:after {
    margin: 10rem;
    color: #00a0e0;
    font-size: 2rem;
    content: ""; }

@keyframes shape-40 {
  0% {
    transform: translate3d(0, 0, 0) rotate(9deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(369deg); } }
.shapeno-40 {
  animation: shape-40 23s linear infinite; }
  .shapeno-40 .random-shape:after {
    margin: 9rem;
    color: #00a0e0;
    font-size: 1.8rem;
    content: ""; }

/*# sourceMappingURL=stylewatch.css.map */
